<!DOCTYPE html>
{{! imports the css styles defined in the stylesheets folder }}
<link rel="stylesheet" href="/stylesheets/style.css" />
<html lan="en">

{{#if success }}
<div class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ success }}</strong>
</div>
{{/if}}

    <head>
        <title>Most popular movies</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2">  
                <p class="h5" style= "margin-top: 10px;"><strong>Whats popular?</strong></p>
                        {{#each object}}     
                        <img src="{{this.img}}" alt="Explore" class="img-responsive">          
                        <p>{{this.title}}</p>
                        {{else}}
                        <p>We are sorry. There is no data available at the moment.</p>
                        {{/each}}  
                <p><em>Data provided by TMDb</em></p> 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-8">
                <p class="h3" style= "margin-top: 10px;" ><strong>All Movie Activities</strong></p>
                    <table class="table" border="1" cellpadding="7" cellspacing="7">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Place</th>
                        <th>Date</th>
                        <th></th>
                    </tr>     
                    {{#if movies}}
                        {{#each movies}}                
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.place}}</td>
                            <td>{{this.date}}</td>
                                <form method="post" action="{{ lookup 'registration' }}">
                                <input type='hidden' name='activity' value='{{this.name}}' />
                                {{#if ../authenticated}}
                                {{! we needd the escape ../ to access locals outside the movies }}
                                <td><input type="submit" value="Register" class="btn btn-default"></form></td>
                                {{else}}
                                {{ authenticated }}
                                <td>Log in to register.</td>
                                {{/if}}
                        </tr>
                        {{/each}}   
                    {{else}}
                        <tr>
                            <td colspan="2">No activities available.</td>
                        </tr>
                    {{/if}}                                                  
                    </table>
                </div>
            </div>
        </div>
    </body>

