<!DOCTYPE html>
{{! imports the css styles defined in the stylesheets folder }}
<link rel="stylesheet" href="/stylesheets/style.css" />

{{! imports the javascriptes defined in the javascripts folder }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascripts/movieTable.js"></script>

<html lan="en">

{{#if success }}
<div class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ success }}</strong>
</div>
{{/if}}

    <head>
        <title>Most popular movies</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2">  
                <div class="mini-title">Whats popular?</div>
                        {{#each object}}     
                        <img src="{{this.img}}" alt="Explore" class="img-responsive">          
                        <p>{{this.title}}</p>
                        {{else}}
                        <p>We are sorry. There is no data available at the moment.</p>
                        {{/each}}  
                <p><em>Data provided by TMDb</em></p> 
                </div>
                <p class="main-title">All Movie Activities</p>
 
                <div class="table-responsive">
                    <table class="table" id="movieTable">
                      <thead>
                        <tr>
                          <th onclick="sortTable(0)" style="cursor:pointer">Name</th>
                          <th onclick="sortTable(1)" style="cursor:pointer">Category</th>
                          <th onclick="sortTable(2)" style="cursor:pointer">Place</th>
                          <th onclick="sortTable(3)" style="cursor:pointer">Date</th>
                          <th></th>
                        </tr> 
                      </thead>    
                      <tbody>    
                      {{#if movies}}
                          {{#each movies}}                
                          <tr>
                              <td>{{this.name}}</td>
                              <td>{{this.category}}</td>
                              <td>{{this.place}}</td>
                              <td>{{this.date}}</td>
                                  <form method="post" action="{{ lookup 'registration' }}">
                                  <input type='hidden' name='activity' value='{{this.name}}' />
                                  <input type='hidden' name='category' value='{{this.category}}' />
                                  <input type='hidden' name='place' value='{{this.place}}' />
                                  <input type='hidden' name='date' value='{{this.date}}' />
                                  {{#if ../authenticated}}
                                  {{! we needd the escape ../ to access locals outside the movies }}
                                  <td><input type="submit" value="Register" class="btn btn-default"></form></td>
                                  {{else}}
                                  {{ authenticated }}
                                  <td>Log in to register.</td>
                                  {{/if}}
                          </tr>
                          {{/each}}   
                      {{else}}
                          <tr>
                              <td colspan="2">No activities available.</td>
                          </tr>
                      {{/if}}  
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

